
body.homePage{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}*
.gateGif {
  width: 100%; /* Set the width to 100% of its container */
  height: auto; /* Maintain the original aspect ratio */
  display: block; /* Remove any extra spacing below the image */
  margin: 0 auto; /* Center the image horizontally */
}
.mainTitle{
  color: rgb(107, 107, 165);
  text-align: center;
}

nav ul li {
  color:green;
}



body {
  background-image: url("greenBackground.png");
  background-image: url("Assets/greyScaleWaterGif.gif");
  /*background-size: cover;*/
  background-attachment: fixed; /* Ensures the background stays fixed while scrolling */
  /*transition: filter 0.1s ease;*/ /* Smooth transition for the filter property */
  background-color: #0099ff;
  background: linear-gradient(to bottom, rgba(26, 51, 51, 0.8), rgba(255, 255, 255, 0.9)), url("Assets/greyScaleWaterGif2.gif");
}

.darken {
  filter: brightness(0.6); /* Adjust the brightness as needed */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.grid-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 4fr);
  grid-auto-rows: 4fr;
  /*gap: 20px;*/
}

.grid-item {
  width: 75%;
  margin-top: 20%;
}

.grid-item img {
  height: 100%;
  width: 100%;
}

/*from google*/
/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 32px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 32px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 174, 255);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
