
body.homePage{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.gateGif {
  width: 100%; /* Set the width to 100% of its container */
  height: auto; /* Maintain the original aspect ratio */
  display: block; /* Remove any extra spacing below the image */
  margin: 0 auto; /* Center the image horizontally */
}
.mainTitle{
  color: rgb(107, 107, 165);
  text-align: center;
}

nav ul li {
  color:green;
}


#mainLogo{
  width: 20%;
}
@media only screen and (max-width: 800px){
  #mainLogo{
    width: 100%;
  }
}
@media only screen and (min-width: 800px){
  #mainLogo{
    width: 50%;
  }
}
body {
  background-image: url("greenBackground.png");
  background-image: url("Assets/greyScaleWaterGif.gif");
  /*background-size: cover;*/
  background-attachment: fixed; /* Ensures the background stays fixed while scrolling */
  /*transition: filter 0.1s ease;*/ /* Smooth transition for the filter property */
  background-color: #0099ff;
  background: linear-gradient(to bottom, rgba(26, 51, 51, 0.8), rgba(255, 255, 255, 0.9)), url("Assets/greyScaleWaterGif2.gif");
}

.darken {
  filter: brightness(0.6); /* Adjust the brightness as needed */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 4fr);
  grid-auto-rows: 4fr;
  /*gap: 20px;*/
}

.grid-item {
  width: 75%;
  margin-top: 20%;
}

.grid-item img {
  height: 100%;
  width: 100%;
}

/*CHAT GPT BOARDER CODE*/
.image-container {
  position: relative;
  display: inline-block;
  padding: 10px; /* Adjust this value based on your actual border size */
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("Assets/boarders.png") center center no-repeat;
  background-size: 170% 170%; /* Adjust this property */
  z-index: -1;
  /*border: 2px solid red;*/
}